
/* =========== Body & Arrière-plan =========== */

body {
  background-color: #f0f0ea;
  font-family: 'Trebuchet MS';
  padding: 2em;
  background-image: url(lyon.png);
  background-repeat: no-repeat;
  background-position: 0,0;
  background-size: cover;
  height: 1000p;
}

a.delete:hover {
  color: red;
}

/* =============== Titre ===================== */

h1 {
  font: Lucida Sans Unicode;
  font-size: 300%; 
  font-weight: bold; 
  letter-spacing: 0.1em;
  color: gold;
  text-align: center;
}



/* ============= Balises <div> =============== */

#map {
  float: left;
  width: 100%;
  max-width: calc( 100% - 54em );
  height: 42.5em;
  border: 3px black solid; /**/
  border-radius: 10px/10px;
  box-shadow: 3px 3px 5px black;
}

#formulaire {
  margin-left: calc( 100% - 38em - 1em );
  width: 37em;
  min-width: 37em;
  height: 15em;
  border: none;
  text-align: center;
  padding-top: 0.5em;
}

#description {
  background-color: rgba(0,0,0,0.15);
  font: Lucida Sans Unicode; 
  border: 3px black solid; 
  border-radius: 10px/10px; 
  box-shadow: 3px 3px 5px black; 
  padding-left: 10px; 
  padding-bottom: 20px;
  width: 36em;
  height: 15em;
  margin-left: calc( 100% - 38em - 1em );
  overflow: auto;
  margin-bottom: 1em;
}

#sautligne {
  clear: left;
}

#graphique{
  float: left;
  height: calc( (100% - 35em)*600/1200 );
  width: calc( 100% - 34.5em);
  background-color: white;
  border: 3px black solid; 
  border-radius: 10px/10px; 
  box-shadow: 3px 3px 5px black; 
  padding-top: 40px;
}

#informations {
  background-color: rgba(0,0,0,0.15);
  font: Lucida Sans Unicode;
  border: 3px black solid; 
  border-radius: 10px/10px; 
  box-shadow: 3px 3px 5px black; 
  padding-left: 10px; 
  padding-bottom: 20px;
  width: 30em;
  height: 15em;
  margin-left: calc( 100% - 33em);
  margin-top: 1em;
  overflow: auto;
}



/* ========= Fieldsets du formulaire ========= */

fieldset {
  width: calc( 17em - 6px );
  border: 3px black solid; 
  border-radius: 10px/10px; 
  box-shadow: 3px 3px 5px black;
  background-color: rgba(0,0,0,0.15);
}

#field_station {
  float: left;
  height: 3em;
}

#field_echelle {
  margin-left: calc( 17em - 6px + 2em);
  height: 3em;
}

#field_debut {
  float: left;
  margin-top: 1em;
}

#field_fin {
  margin-top: 1em;
  margin-left: calc( 17em - 6px + 2em);
}

.h3 {
  font: Lucida Sans Unicode;
  font-size: 120%; 
  font-weight: bold; 
  color: black;
  line-height: 5%;
}



/* ========== Cases du formulaire ============ */

input {
  font-family: monospace;
  padding: 2px 0.5em;
  font-size: 1.2em;
  line-height: 1.33em;
  margin-top: 5px;
  color: black;
  border-radius: 5px/5px;
  box-shadow: 3px 3px 5px black;
}

.caseDate, .caseHeure, .casePas, .selecteurPas {
  border-color: "transparent";
  background-color: rgba(255,255,255,0.3);
}

.caseDateError, .caseHeureError, .casePasError {
  border-color: "red";
  background-color: rgba(255,0,0,0.3);
}

.caseDate, .caseDateError {
  width: calc(100% - 6em);
}

.caseHeure, .caseHeureError {
  width: calc(100% - 10em);
}

.casePas, .casePasError {
  width: 3em;
}



/* ========= Sélecteurs du formulaire ======== */

select {
  color: black;
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px/5px;
  box-shadow: 3px 3px 5px black;
}

.selecteurPas {
  height: 2em;
}



/* ========= Boutons du formulaire =========== */

.button {
  width: calc( 18.6em );
  height: 2em;
  border: none;
  border-radius: 10px/10px;
  text-align: center;
  color: white;
  margin-top: 1em;
}

.buttonShow {
  float: left;
  background-color: #4682b4;
  cursor: pointer;
}
.buttonShow:hover {
  background-color: #45a049;
}

.buttonLoad {
  color: black;
}

.buttonReset {
  margin-right: 0em;
  background-color: #FF8000;
  cursor: pointer;
}
.buttonReset:hover {
  background-color: #E67300;
}



/* ======= Tableau dans Informations ========= */

table {
  border-collapse: collapse;
  border: 1px solid #A0A0A0;
  width: 100%;
  text-align: center;
}

th {
  background-color: #A0A0A0;
  color: #000000;
}

th, td {
  border-left: 1px solid #A0A0A0;
}

td {
  background-color: rgba(255,255,255,0.5);
}

th + th {
  border-left: 1px solid #f0f0ea;
}

footer {
  display: block;
  float: right;
}